.jumbotron {
  padding-top: 2rem;
  /* background-color: antiquewhite; */
  background-color: #88c0b9;
}
#project {
  background-color: #f3f4f5;
}

.nav-teal {
  /* background-color: antiquewhite; */
  background-color: #69a69e;
}

.footer {
  background-color: #765d69;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: medium;
  padding-bottom: 10px;
}
/* .footer-p {
  padding-bottom: 3px;
} */
.footer a {
  color: whitesmoke;
}

section {
  padding-top: 7rem;
}
.btn {
  background-color: #69a69e;
}
