.jumbotron {
  padding-top: 2rem;
  /* background-color: antiquewhite; */
  background-color: #88c0b9;
}
#project {
  background-color: #f3f4f5;
}

.nav-teal {
  /* background-color: antiquewhite; */
  background-color: #69a69e;
}
